div(ng-controller='TypesController as types')
  section
    .container
      .row
        .col-lg-12
          br
          ul.nav.nav-pills
            li(role='presentation' ng-repeat='type in types.types')
              a(href='// "/types/" + type.id //') // type.name | uppercase //
      hr
      .row
        .col-lg-12
          .col-lg-12
            .download(ng-click='types.download()')
              i.fa.fa-download 
              | &nbsp;Download
            #chart.c3(best-chart best-data='types.nodes')

      .row
        blockquote.col-sm-4.nodes(ng-repeat='node in types.nodes track by $index')
          p(ng-repeat='(key,value) in node' ng-if='key | excludeHidden') // key | uppercase // - // value //
          small.node(ng-click='types.likeIt(node)')
            a
              | Like it &nbsp;
              i.fa(ng-class='{"fa-heart": node.is_liked, "fa-heart-o": !node.is_liked}') 
              | &nbsp; // node.likes // 

      .row
        .col-lg-12
          h1.header Suggest new type
          form.form-horizontal(ng-submit='types.addType()')
            .form-group
              label.control-label.col-sm-2 Name 
              .col-sm-10
                input.form-control(name='name' ng-model='types.type.name')
            .form-group
              label.control-label.col-sm-2 Description 
              .col-sm-10
                input.form-control(name='desc' ng-model='types.type.desc')
            .form-group
              label.control-label.col-sm-2 Attrributes 
              .col-sm-10
                input.form-control(name='attrs' ng-model='types.type.attrs')
                p.help-block separate by comma
            .form-group
              label.control-label.col-sm-2 Parent Type 
              .col-sm-10
                select.form-control(name='dst' ng-model='types.type.dst', ng-options="type.id as type.name for type in types.types")
            .form-group
              .col-sm-10.col-sm-offset-2
                button.btn.btn-primary(type='submit') Suggest